html, body {
  @apply font-sans;
}

// HEADINGS
.heading-1,
.heading-2 {
  @apply text-2xl;
  @apply border-b;
  @apply border-gray-300;
  @apply pb-2;
  @apply mb-2;
}

.heading-2 {
  @apply text-xl;
}

// FORMS
input[type='text'],
input[type='date'] {
  @apply w-full;
  @apply appearance-none;
  @apply rounded;
  @apply border-2;
  @apply border-transparent;
  @apply bg-gray-200;
  @apply py-2;
  @apply px-4;
  @apply text-gray-700;
  @apply transition;
  @apply ease-in-out;
  @apply duration-300;

  &:focus {
    @apply outline-none;
    @apply bg-white;
    @apply border-2;
    @apply border-purple-600;
  }
}

input[type='date'] {
  @apply inline-block;
  @apply relative;

  &::-webkit-calendar-picker-indicator {
    @apply absolute;
    right: 10px;
  }
}

.inp-checkgroup {
  label {
    @apply block;
    @apply w-full;
  }
  input[type='checkbox'] {
    @apply mr-2;
  }
  label:active {
    @apply outline-black;
  }
  label:hover {
    @apply bg-gray-100;
  }
}

// BUTTONS
.btn {
  @apply font-bold py-2 px-4 rounded;

  &.btn-purple {
    @apply text-white;
    @apply bg-purple-600;
  }
}


// TABLES
.table-event {
  > div {
    @apply py-2;
    @apply border-b border-gray-300;
  }
}